body {
    font: 18px "Helvetica";
    margin: 20px;
    text-align: center;
    /* height: 100%; */
    background-image: url("../images/background.jpg");
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  html {
      height: 100%;
  }

  h1 {
    color: white;
  }

  .wrapper {
      width: 45%;
      margin-left: auto;
      margin-right: auto;
      border-width: 4px;
      border-color: black;
      border-style: solid;
      padding: 25px 5px;
      border-radius: 8px;
      box-shadow: -8px 10px 45px -11px rgba(0,0,0,0.75);
      background: white;
  }


   /* --------- Form stlyes --------- */



  .form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    padding-top: 25px;
    border-radius: 8px;
    box-shadow: -8px 10px 45px -11px rgba(0,0,0,0.75);
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .form-row {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .form-row input {
    width: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin-left: 1.5em;
    text-align: center;
  }

 /* --------- Image stlyes --------- */

  .form-row img {
    flex-grow: 3;
    border-radius: 50%;
  }

  .container {
      position: relative;
      width: 100%
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e4aea0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .8s ease;
    border-radius: 50%;
    opacity: 0.9;
  }

  .container:hover .overlay {
    transform: scale(1);
    cursor: default;
  }

  .text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }



  /* --------- Button stlyes --------- */

  input.submit {
    margin-top: 2em;
    margin-bottom: 1em;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size: 20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;

  }

  input.submit:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
  }

  /* --------- Thank You Page --------- */

  .ty-wrapper {
    text-align: left;
    padding-left: 3em;
    padding-right: 3em;
    width: 40%;
    max-width: 500px;
  }

  table {
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }

  td {
    height: 50px;
  }

  td:nth-child(even) {
    text-align: right;
  }

  tr:last-child {
    border-bottom: none;
  }




